sentence_transformers==2.2.2
langchain
flask
pypdf
python-dotenv
dotenv
pinecone[grpc]
langchain-pinecone
langchain_community
langchain_openai
langchain_google_genai
langchain_experimental
sentence-transformers
-e .
